@font-face {
  font-family: "Poppins";
  src: url(../src/assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family:"Space Mono";
  src: url("../src/assets/font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url('../src/assets/font/WorkSans-VariableFont_wght.ttf');
}
body {
  margin: 0;
  font-family: "Poppins" !important;
}

code {
  font-family: "Poppins" !important;
}